<div class="wrapper" id = "header">
    <div class="jumbotron">
        <h2> Devour Burgers</h2>
        <h2>Type selection below</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newBurger"></label>
                    <input type="text" id="NewBurger" name="burger">
                    <button type="submit" class="addBurger"> order</button>
                </div>
            </form>
        </panel>
    </div>
</div>

<div class="row">
    
<div class="panel-body">
    <ul>
        {{#each burgers}}
        {{#unless Devoured}}
        <span> 
            {{this.id}} - 
        {{this.burger_name}}</span>
        <buttton type="button"
        class="eatBurger" id="eatButton"
        data-id="{{this.id}}"
        data-newDevoured="{{devour}}">devour</buttton>
        <br>
        {{/unless}}
        {{/each}}
    </ul>
</div>
</div>
</div>

<div class="panel-body">
    <ul>

   {{#each burgers}}
                    {{#if devoured}}
                    <span> {{this.id}} - {{this.burger_name}} </span>
                    <button type="button" class="trashBurger" id="trashButton" data-id="{{this.id}}"
                        data-newDevoured="{{devour}}">
                        <span class="trash">Trash</button><br>
                    {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>



    </body>

    </html>